.why_section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #f9f8f7;
  padding: 25px;
  border-radius: 5px;
  height: 100%;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
}
